.container {
    background: rgb(200, 199, 199);
    border-bottom: 2px solid black;
    width: 100%;

    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;

        li {
            text-transform: uppercase;
            text-decoration: none;
            list-style: none;
            font-size: 14px;
        }

        .text-link {
            color: rgb(16, 3, 57);
            text-decoration: inherit;
        }

        .text-link:hover {
            border-bottom: 2px solid black;
        }
    }
}