@import "_root";

.switch {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        text-transform: uppercase;

    }

    button {
        padding: 0.5rem 1rem;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
        outline: none;
        margin: none;
        border: 2px solid black;
        cursor: pointer;
        width: fit-content;
    }
}

.enter-frame {
    margin-top: 5rem;
    display: flex;
    justify-content: center;

    .fdetails {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-transform: uppercase;
        align-items: flex-start;

        .button-edit {
            margin-inline: auto;

            button {
                background: white;
            }

            .csv-label {
                display: flex;
                align-items: center;
                justify-content: center;

                label {
                    font-size: 11px;
                }

                button {
                    padding: 0 0.5rem;
                    height: 18px !important;
                    width: fit-content;
                    margin-top: 0.5rem;
                }
            }
        }
    }

    .mrp1>input {
        margin-left: 4rem;
    }

    input {
        height: 2rem;
        outline: none;
        margin: none;
        text-align: center;
        border-radius: 0.25rem;
    }
}

.view-frame {
    display: flex;
    justify-content: center;
    padding: 5rem 0;

    table {
        border-collapse: collapse;
        width: 80%;
    }

    td,
    th {
        border: 1px solid black;
        text-align: center;
        padding: 8px;
    }

    th {
        border: 2px solid black;
        text-align: center;
        text-transform: uppercase;
    }

    img {
        width: 100px;
        height: 30px;
        object-fit: cover;
    }

    td>button {
        padding: 10px;
        background: transparent;
    }
}

button.remove,
button.add {
    border: none;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}

.fimage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;

    label {
        margin: 0;
        padding: 0;
        width: 150px;
    }

    .image-label {

        label {
            font-size: 11px;
        }

        button {
            background: white;
            height: 18px !important;
            padding: 0 0.5rem;
            width: fit-content;
        }
    }
}

@media only screen and (max-width: 600px) {
    .fimage {
        width: 300px;
    }
}