@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: grey;
  color: black;
}

.switch {
  padding: 3rem 1rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.switch button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}
.switch button {
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  outline: none;
  margin: none;
  border: 2px solid black;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

.enter-frame {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.enter-frame .fdetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  align-items: flex-start;
  width: 350px;
}
.enter-frame .fdetails .button-edit {
  margin-inline: auto;
}
.enter-frame .fdetails .button-edit button {
  background: white;
}
.enter-frame .fdetails .button-edit .csv-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.enter-frame .fdetails .button-edit .csv-label label {
  font-size: 11px;
}
.enter-frame .fdetails .button-edit .csv-label button {
  padding: 0.2rem 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 0.5rem;
  border: 1px solid black;
}
.enter-frame .mrp1 > input {
  margin-left: 4rem;
}
.enter-frame input {
  height: 2rem;
  outline: none;
  margin: none;
  text-align: center;
  border-radius: 0.25rem;
}

.view-frame {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.view-frame .search {
  width: 80%;
  padding-bottom: 2rem;
}
.view-frame .search input {
  width: 100%;
  padding: 10px;
}
.view-frame table {
  border-collapse: collapse;
  width: 80%;
}
.view-frame td,
.view-frame th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}
.view-frame th {
  border: 2px solid black;
  text-align: center;
  text-transform: uppercase;
}
.view-frame img {
  width: 100px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-frame td > button {
  background: transparent;
}

.button2 {
  width: 100%;
}

button.remove,
button.add {
  border: none;
  cursor: pointer;
  width: 20px;
  margin-inline: auto;
}
button.remove img,
button.add img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fimage {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
}
.fimage label {
  margin: 0;
  padding: 0;
  width: 150px;
}
.fimage .image-label label {
  font-size: 11px;
}
.fimage .image-label button {
  background: white;
  padding: 0.2rem 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid black;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (max-width: 600px) {
  .fimage {
    width: 300px;
  }
}
@media only screen and (max-width: 850px) {
  .button2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */