@import "_root";

.switch {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    button {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
    }
    button {
        padding: 0.5rem 1rem;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
        outline: none;
        margin: none;
        border: 2px solid black;
        cursor: pointer;
    }
}

.enter-frame {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    .fdetails {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-transform: uppercase;
        align-items: flex-start;
        .button-edit {
            margin-inline: auto;
        }
    }

    .mrp1 > input {
        margin-left: 4rem;
    }
    input {
        height: 2rem;
        outline: none;
        margin: none;
        text-align: center;
        border-radius: 0.25rem;
    }
}

.view-frame {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    table {
        border-collapse: collapse;
        width: 80%;
    }

    td,
    th {
        border: 1px solid black;
        text-align: center;
        padding: 8px;
    }

    th {
        border: 2px solid black;
        text-align: center;
        text-transform: uppercase;
    }

    img {
        width: 100px;
        height: 30px;
        object-fit: cover;
    }
    td > button {
        padding: 10px;
        background: transparent;
    }
}

button.remove,
button.add {
    border: none;
    cursor: pointer;
    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}

.fimage {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    label {
        margin: 0;
        padding: 0;
        width: 150px;
    }
}
@media only screen and (max-width: 600px) {
    .fimage {
        width: 300px;
    }
}
