.BasicInfo {
  padding: 0 3rem;
  .basic-content {
    padding: 0 2rem;
    .delivery {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      padding: 1rem 0;
    }
    .name,
    .address {
      display: flex;
      gap: 15px;
      input,
      textarea {
        width: 27.5rem;
      }
      textarea {
        height: 80px;
      }
      padding: 5px 0;
    }

    .date {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      padding: 1rem 0;
    }

    .doctor-name {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      padding: 1rem 0;
      input {
        width: 27.5rem;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px;
  border-bottom: 3px solid black;
}

button {
  background: transparent;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
}
button > img {
  width: 35px;
}

input,
textarea {
  padding: 3px;
}
label {
  width: 12ch;
  // text-align: center;
}

@media (max-width: 600px) {
  .delivery,
  .name,
  .address,
  .date,
  .doctor-name {
    // background: pink;
    display: flex;
    flex-direction: column;
    width: 100%;
    input,
    textarea,
    label {
      width: 100% !important;
    }
    label {
      text-align: center;
    }
    input {
      height: 35px;
    }
  }
  .basic-content {
    padding: 0 !important;
  }
}
