@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: grey;
  color: black;
}

h1 {
  font-size: medium;
}

.BasicInfo {
  padding: 0 3rem;
}
.BasicInfo .basic-content {
  padding: 0 2rem;
}
.BasicInfo .basic-content .delivery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 1rem 0;
}
.BasicInfo .basic-content .name,
.BasicInfo .basic-content .address {
  display: flex;
  gap: 15px;
  padding: 5px 0;
}
.BasicInfo .basic-content .name input,
.BasicInfo .basic-content .name textarea,
.BasicInfo .basic-content .address input,
.BasicInfo .basic-content .address textarea {
  width: 27.5rem;
}
.BasicInfo .basic-content .name textarea,
.BasicInfo .basic-content .address textarea {
  height: 80px;
}
.BasicInfo .basic-content .date {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 1rem 0;
}
.BasicInfo .basic-content .doctor-name {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 1rem 0;
}
.BasicInfo .basic-content .doctor-name input {
  width: 27.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px;
  border-bottom: 3px solid black;
}

button {
  background: transparent;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
}

button > img {
  width: 35px;
}

input,
textarea {
  padding: 3px;
}

label {
  width: 12ch;
}

@media (max-width: 600px) {
  .delivery,
  .name,
  .address,
  .date,
  .doctor-name {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .delivery input,
  .delivery textarea,
  .delivery label,
  .name input,
  .name textarea,
  .name label,
  .address input,
  .address textarea,
  .address label,
  .date input,
  .date textarea,
  .date label,
  .doctor-name input,
  .doctor-name textarea,
  .doctor-name label {
    width: 100% !important;
  }
  .delivery label,
  .name label,
  .address label,
  .date label,
  .doctor-name label {
    text-align: center;
  }
  .delivery input,
  .name input,
  .address input,
  .date input,
  .doctor-name input {
    height: 35px;
  }
  .basic-content {
    padding: 0 !important;
  }
}
@media (max-width: 600px) {
  .BasicInfo {
    padding: 0 0.5rem;
  }
  .BasicInfo .basic-content {
    padding: 0;
  }
}
.FrameInfo {
  padding: 0 3rem;
}
.FrameInfo p {
  text-align: center;
  border-bottom: 2px dashed black;
  padding: 1rem;
}
.FrameInfo .frame-content {
  padding: 0 2rem;
}
.FrameInfo .frame-content .frame-input,
.FrameInfo .frame-content .others-input {
  display: grid;
  place-items: center;
  padding: 1rem 0;
}
.FrameInfo .frame-content .frame-input .framecode,
.FrameInfo .frame-content .frame-input .item,
.FrameInfo .frame-content .others-input .framecode,
.FrameInfo .frame-content .others-input .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.FrameInfo .frame-content .frame-input .framecode label,
.FrameInfo .frame-content .frame-input .item label,
.FrameInfo .frame-content .others-input .framecode label,
.FrameInfo .frame-content .others-input .item label {
  width: -moz-fit-content;
  width: fit-content;
}
.FrameInfo .frame-content .frame-input .framecode select,
.FrameInfo .frame-content .frame-input .item select,
.FrameInfo .frame-content .others-input .framecode select,
.FrameInfo .frame-content .others-input .item select {
  height: 30px !important;
  width: 270px !important;
}
.FrameInfo .frame-content .frame-input .framecode img,
.FrameInfo .frame-content .frame-input .item img,
.FrameInfo .frame-content .others-input .framecode img,
.FrameInfo .frame-content .others-input .item img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.FrameInfo .frame-content .frame-input .userphoto,
.FrameInfo .frame-content .others-input .userphoto {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.FrameInfo .frame-content .frame-input .userphoto .image,
.FrameInfo .frame-content .others-input .userphoto .image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.FrameInfo .frame-content .frame-input .userphoto .image img,
.FrameInfo .frame-content .others-input .userphoto .image img {
  height: 400px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.FrameInfo .frame-content .frame-input .userphoto .image button,
.FrameInfo .frame-content .others-input .userphoto .image button {
  border: 1px solid black;
  padding: 0.5rem 1.25rem;
  width: -moz-fit-content;
  width: fit-content;
  background: white;
  margin-inline: auto;
}
.FrameInfo .frame-content .frame-input .userphoto .image-label label,
.FrameInfo .frame-content .others-input .userphoto .image-label label {
  font-size: 11px;
}
.FrameInfo .frame-content .frame-input .userphoto .image-label button,
.FrameInfo .frame-content .others-input .userphoto .image-label button {
  background: white;
  padding: 0 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 18px !important;
}
.FrameInfo .frame-content .frame-input .item select,
.FrameInfo .frame-content .others-input .item select {
  width: 270px !important;
}
.FrameInfo .frame-content .frame-input .quantity,
.FrameInfo .frame-content .others-input .quantity {
  display: flex;
  gap: 10px;
  padding: 1rem 0;
}
.FrameInfo .frame-content .frame-input .quantity label,
.FrameInfo .frame-content .others-input .quantity label {
  width: -moz-fit-content;
  width: fit-content;
}
.FrameInfo .select-input {
  position: relative;
  margin: 0;
  padding: 0;
}
.FrameInfo .select-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
}

@media (max-width: 650px) {
  .FrameInfo {
    padding: 0 0.5rem !important;
  }
  .FrameInfo .frame-content {
    padding: 0 0.5rem;
  }
  .FrameInfo .frame-content .framecode,
  .FrameInfo .frame-content .item {
    display: flex;
    flex-direction: column;
  }
}
.LensInfo {
  padding: 0 3rem;
}
.LensInfo .lens-content {
  padding: 0 2rem;
}
.LensInfo .lens-content .table1 {
  overflow-x: auto;
}
.LensInfo .lens-content .table1 th,
.LensInfo .lens-content .table1 td,
.LensInfo .lens-content .table1 input {
  text-align: center;
}
.LensInfo .lens-content .table1 input {
  width: 10ch;
}
.LensInfo .lens-content .table1 th {
  font-size: 15px;
}
.LensInfo .lens-content .table1 td {
  padding: 1px;
}
.LensInfo .lens-content .lens-input {
  display: flex;
  padding-top: 3rem;
  overflow-x: auto;
}
.LensInfo .lens-content .lens-input .lens-input-a,
.LensInfo .lens-content .lens-input .lens-input-b {
  width: -moz-fit-content;
  width: fit-content;
}
.LensInfo .lens-content .lens-input .lens-input-a .flex,
.LensInfo .lens-content .lens-input .lens-input-b .flex {
  padding: 5px;
  display: flex;
}
.LensInfo .lens-content .lens-input .lens-input-a input,
.LensInfo .lens-content .lens-input .lens-input-a textarea,
.LensInfo .lens-content .lens-input .lens-input-a select,
.LensInfo .lens-content .lens-input .lens-input-b input,
.LensInfo .lens-content .lens-input .lens-input-b textarea,
.LensInfo .lens-content .lens-input .lens-input-b select {
  width: 20ch;
}
.LensInfo .lens-content .lens-input .lens-input-a label,
.LensInfo .lens-content .lens-input .lens-input-b label {
  width: 25ch;
  text-align: center;
}
.LensInfo .lens-content .lens-input .lens-input-a textarea,
.LensInfo .lens-content .lens-input .lens-input-b textarea {
  height: 80px;
}
.LensInfo .lens-content .lens-input .lens-input-b .table2 {
  display: flex;
  align-items: last baseline;
}
.LensInfo .lens-content .lens-input .lens-input-b .table2 td > input {
  width: 100% !important;
}
.LensInfo .lens-content .lens-input .lens-input-b .table2 th {
  text-align: center !important;
  width: 6ch !important;
}
.LensInfo .lens-content .lens-input .lens-input-b input,
.LensInfo .lens-content .lens-input .lens-input-b textarea,
.LensInfo .lens-content .lens-input .lens-input-b select {
  width: 24ch;
}
.LensInfo .lens-content .lens-input .lens-input-a {
  padding-top: 2rem;
}
.LensInfo .lens-content .lens-input .lens-input-a label {
  width: 15ch;
  text-align: center;
}

@media (max-width: 765px) {
  .LensInfo {
    padding: 0 0.5rem;
  }
  .lens-input {
    flex-direction: column;
  }
}
@media only screen and (max-width: 450px) {
  .lens-input {
    flex-direction: column !important;
  }
  .lens-input .lens-input-a,
  .lens-input .lens-input-b {
    width: 100% !important;
  }
  .lens-input .lens-input-a input,
  .lens-input .lens-input-a textarea,
  .lens-input .lens-input-a select,
  .lens-input .lens-input-b input,
  .lens-input .lens-input-b textarea,
  .lens-input .lens-input-b select {
    width: 100% !important;
    height: 30px;
  }
  .lens-input .lens-input-a label,
  .lens-input .lens-input-b label {
    width: 100% !important;
    text-align: center;
  }
  .lens-input .lens-input-a textarea,
  .lens-input .lens-input-b textarea {
    height: 80px !important;
  }
  .lens-input .flex {
    flex-direction: column;
    width: 100%;
  }
}
.ContactLensInfo {
  padding: 0 3rem;
}
.ContactLensInfo .contactlens-content {
  padding: 0 2rem;
}
.ContactLensInfo .contactlens-content .row {
  display: flex;
  gap: 20px;
  padding: 1rem 0;
}
.ContactLensInfo .contactlens-content .row .type,
.ContactLensInfo .contactlens-content .row .longitivity,
.ContactLensInfo .contactlens-content .row .color {
  width: -moz-fit-content;
  width: fit-content;
}
.ContactLensInfo .contactlens-content .row .type > label,
.ContactLensInfo .contactlens-content .row .longitivity > label,
.ContactLensInfo .contactlens-content .row .color > label,
.ContactLensInfo .contactlens-content .row .type > select,
.ContactLensInfo .contactlens-content .row .longitivity > select,
.ContactLensInfo .contactlens-content .row .color > input {
  padding: 0 5px;
}
.ContactLensInfo .contactlens-content .row .color > input {
  width: 100px;
}
.ContactLensInfo .contactlens-content .table3 {
  padding: 1rem 0;
}
.ContactLensInfo .contactlens-content .table3 th,
.ContactLensInfo .contactlens-content .table3 td,
.ContactLensInfo .contactlens-content .table3 input {
  text-align: center;
}
.ContactLensInfo .contactlens-content .table3 input {
  width: 10ch;
}
.ContactLensInfo .contactlens-content .table3 th {
  font-size: 13.5px;
}
.ContactLensInfo .contactlens-content .table3 td {
  padding: 1px;
}
.ContactLensInfo .contactlens-content .manufacturer,
.ContactLensInfo .contactlens-content .remarks {
  padding: 0.7rem 0;
  display: flex;
  align-items: center;
}
.ContactLensInfo .contactlens-content .manufacturer label,
.ContactLensInfo .contactlens-content .remarks label {
  width: 13ch;
}
.ContactLensInfo .contactlens-content .manufacturer input,
.ContactLensInfo .contactlens-content .manufacturer textarea,
.ContactLensInfo .contactlens-content .remarks input,
.ContactLensInfo .contactlens-content .remarks textarea {
  width: 280px !important;
}
.ContactLensInfo .contactlens-content .manufacturer textarea,
.ContactLensInfo .contactlens-content .remarks textarea {
  height: 80px;
}

@media (max-width: 600px) {
  .ContactLensInfo {
    padding: 0 0.5rem;
  }
  .ContactLensInfo .contactlens-content {
    padding: 0 0rem;
  }
  .ContactLensInfo .contactlens-content .manufacturer,
  .ContactLensInfo .contactlens-content .remarks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ContactLensInfo .contactlens-content .manufacturer label,
  .ContactLensInfo .contactlens-content .remarks label {
    width: 100%;
    text-align: center;
  }
  .ContactLensInfo .contactlens-content .table3 input {
    width: 9ch !important;
  }
}
.PriceInfo {
  padding: 0 3rem;
}
.PriceInfo .price-content {
  padding: 0 2rem;
}
.PriceInfo .price-content .framecode p,
.PriceInfo .price-content .othercode p,
.PriceInfo .price-content .lenstype p,
.PriceInfo .price-content .type p {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px dashed black;
}
.PriceInfo .price-content .framecode .row,
.PriceInfo .price-content .othercode .row,
.PriceInfo .price-content .lenstype .row,
.PriceInfo .price-content .type .row {
  padding: 1rem 0;
  display: flex;
  gap: 30px;
}
.PriceInfo .price-content .framecode .row .calc,
.PriceInfo .price-content .othercode .row .calc,
.PriceInfo .price-content .lenstype .row .calc,
.PriceInfo .price-content .type .row .calc {
  display: flex;
  gap: 10px;
}
.PriceInfo .price-content .framecode .row .calc label,
.PriceInfo .price-content .othercode .row .calc label,
.PriceInfo .price-content .lenstype .row .calc label,
.PriceInfo .price-content .type .row .calc label {
  width: -moz-fit-content;
  width: fit-content;
}
.PriceInfo .price-content .framecode .row .calc input,
.PriceInfo .price-content .othercode .row .calc input,
.PriceInfo .price-content .lenstype .row .calc input,
.PriceInfo .price-content .type .row .calc input {
  width: 120px !important;
}
.PriceInfo .price-content .buttons {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.PriceInfo .price-content .buttons button {
  padding: 0.5rem 1rem;
  background: white;
  border: 1px solid black;
  width: -moz-fit-content;
  width: fit-content;
  transition: background 0.5s ease, color 0.5s ease;
}
.PriceInfo .price-content .buttons button:hover {
  background: black;
  color: white;
}
.PriceInfo .price-content .input .a {
  display: flex;
  gap: 30px;
  align-items: center;
}
.PriceInfo .price-content .input .a label {
  width: 260px;
  text-align: right;
  padding: 0.5rem 0 !important;
}
.PriceInfo .price-content .input .a input {
  width: 100px;
  height: 25px;
}
.PriceInfo .price-content .input .a select {
  width: 100px;
  height: 25px;
}

@media (max-width: 600px) {
  .PriceInfo {
    padding: 0 0.5rem;
  }
  .PriceInfo .price-content {
    padding: 0;
  }
  .PriceInfo .price-content .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .PriceInfo .price-content .calc label {
    width: 10ch !important;
  }
}/*# sourceMappingURL=main.css.map */